@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --boxshadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: #eee;
}

img {
  cursor: pointer;
}

.search-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #111;
  border-bottom: 3px solid rebeccapurple;
  padding: 15px;
  color: #eee;
}

.search-c input {
  padding: 8px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 2px solid white;
  width: 200px;
  color: purple;
}

/* movie */

main {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #130f40;
}

main::-webkit-scrollbar {
  display: none;
}

.movie {
  min-width: 250px;
  background-color: rebeccapurple;
  margin: 20px;
  box-shadow: var(--boxshadow);
  border-radius: 5px;
  overflow: hidden;
}

.search-for {
  padding: 20px;
}

.movie img {
  width: 100%;
  transition: 0.4s ease;
}

.movie img:hover {
  transform: scale(1.08);
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rebeccapurple;
  padding: 10px;
  color: #eee;
}

.rating {
  background-color: rgb(49, 29, 71);
  padding: 6px;
  border-radius: 3px;
  font-weight: bold;
}

/* top rated */
.top-rated {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #130f40;
}

.top-rated::-webkit-scrollbar {
  display: none;
}

.top-title {
  padding: 20px;
}

.close {
  background-color: transparent;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgb(255, 82, 82);
  position: absolute;
  top: 10px;
  right: 30px;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 17px;
}

.close:hover {
  color: red;
}

.upcoming-video {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 20px 0;
  background-color: #130f40;
  /* background-color: #111; */
  padding: 20px;
  position: relative;
  color: #eee;
}

.upcoming-video::-webkit-scrollbar {
  display: none;
}

iframe {
  margin: 10px;
  max-width: 600px;
  height: 300px;
}

@media (max-width: 700px) {
  iframe {
    margin: 10px;
    max-width: 400px;
    height: 200px;
  }
}

.upcoming-video.hidden {
  display: none;
  pointer-events: none;
}

/* top rated */
.toprated-video {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 20px 0;
  background-color: #130f40;
  padding: 20px;
  position: relative;
  color: #eee;
}

.toprated-video.hidden {
  display: none;
  pointer-events: none;
}

/* movie searched */

.search-movies {
  display: flex;
  overflow-x: auto;
  color: #eee;
}

.search-movies::-webkit-scrollbar {
  display: none;
}

.search-movie img {
  width: 200px;
  overflow: hidden;
  transition: 0.4s ease;
}

.search-movie img:hover {
  transform: scale(1.08);
}

.search-movie {
  margin: 10px;
  background-color: rgb(36, 36, 100);
  border-radius: 3px;
  box-shadow: var(--boxshadow);
  min-width: 200px;
  overflow: hidden;
}

.search-info {
  padding: 10px;
}

.fa-star {
  color: orange;
}

.search.hidden {
  display: none;
  pointer-events: none;
}

.search {
  padding: 10px;
}

.search-term {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-c {
  width: 100%;
  height: 568px;
  position: relative;
  color: white;
  font-weight: bold;
}

.banner-c .banner-title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner-c img {
  width: 100%;
  height: 568px;
  object-fit: cover;
}

.banner-info {
  position: absolute;
  top: 40%;
  left: 40px;
}

.banner-c::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  /* z-index: -1; */
}

.banner-c button {
  padding: 10px 25px;
  color: white;
  outline: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
  /* margin-top: 5px; */
  border-radius: 3px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner-c button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.over-view {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

.banner-img {
  cursor: pointer;
}

.pop-c {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  color: black;
  background-color: rgba(0, 0, 0, 0.8);
}

.pop-c.hidden {
  display: none;
  pointer-events: none;
}

.popup {
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 1000px;
  position: relative;
}

.popup .close-banner {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  color: red;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 5px;
  outline: none;
  font-size: 20px;
}

.mini-btn {
  position: absolute;
  right: 50px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  pointer-events: none;
}

.mini-c {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.mini-c.hidden {
  display: none;
  pointer-events: none;
}

.mini {
  background-color: white;
}

.mini-c button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  color: red;
  border: none;
  outline: none;
}